# Regresi Linier Berat Badan

In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [2]:
df = pd.read_csv("datasets/weight-height.csv")
# df.drop('NaN', axis=1, inplace=True)

In [3]:
df.head()

       Height Gender     Weight
0  241.893563   Male  73.847017
1  162.310473   Male  68.781904
2  212.740856   Male  74.110105
3  220.042470   Male  71.730978
4  206.349801   Male  69.881796

In [4]:
# replacing values
df['Gender'].replace(['Male', 'Female'],
                        [0, 1], inplace=True)

In [5]:
df

           Height  Gender     Weight
0      241.893563       0  73.847017
1      162.310473       0  68.781904
2      212.740856       0  74.110105
3      220.042470       0  71.730978
4      206.349801       0  69.881796
...           ...     ...        ...
9996   170.867906       1  67.067155
9997   128.475319       1  63.867992
9998   163.852461       1  69.034243
9999   113.649103       1  61.944246
10000  121.244876       1  59.538729

[10001 rows x 3 columns]

## Scaling dan Labeling Atribut

In [47]:
std_scaler = StandardScaler()
df.iloc[:, :2] = std_scaler.fit_transform(df.iloc[:, :2])
X = df[['Height','Gender']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
y = df['Weight']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 66.36651289945304
Coefficients:
 [3.94240593 0.48159182]

In [48]:
df

         Height  Gender     Weight
0      2.505767 -1.0001  73.847017
1      0.027286 -1.0001  68.781904
2      1.597855 -1.0001  74.110105
3      1.825251 -1.0001  71.730978
4      1.398816 -1.0001  69.881796
...         ...     ...        ...
9996   0.293793  0.9999  67.067155
9997  -1.026453  0.9999  63.867992
9998   0.075308  0.9999  69.034243
9999  -1.488190  0.9999  61.944246
10000 -1.251633  0.9999  59.538729

[10001 rows x 3 columns]

In [49]:
# X = df.iloc[:, :-1]
# y = df.iloc[:, :-2]

In [51]:
y

0        73.847017
1        68.781904
2        74.110105
3        71.730978
4        69.881796
           ...
9996     67.067155
9997     63.867992
9998     69.034243
9999     61.944246
10000    59.538729
Name: Weight, Length: 10001, dtype: float64

## Training Model

In [52]:
df

         Height  Gender     Weight
0      2.505767 -1.0001  73.847017
1      0.027286 -1.0001  68.781904
2      1.597855 -1.0001  74.110105
3      1.825251 -1.0001  71.730978
4      1.398816 -1.0001  69.881796
...         ...     ...        ...
9996   0.293793  0.9999  67.067155
9997  -1.026453  0.9999  63.867992
9998   0.075308  0.9999  69.034243
9999  -1.488190  0.9999  61.944246
10000 -1.251633  0.9999  59.538729

[10001 rows x 3 columns]

In [53]:
regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)
model = regr.fit (X_train, y_train)

In [54]:
accuracy = model.score(X_test, y_test)

In [55]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 85.7996805127452%

## Menyimpan Model dan Scaler

In [56]:
joblib.dump((model, std_scaler), "beratbadan-linearregresion.pkl")

['beratbadan-linearregresion.pkl']